@import "app/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../fonts/font-style.css";




html {
  font-family: 'proxima_nova_light';
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-5ths {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}


//====================================================================
$padding-top-xl: 150px;
$padding-top-lg: 80px;
$padding-top-md: 50px;
$padding-top-sm: 30px;
$padding-top-xs: 15px;

$margin-bottom-sm: 20px;

$comrse-green: #20ac98;
$comrse-blue: #5093b7;
$comrse-font-gray: #929598;
$comrse-light-gray: #dedede;

.red-tooltip {
  background-color: #e97063;
  color: #fff;
}

.col-sm-5 {
  padding: 0 7.5px;
}
.col-sm-2 {
  padding-left: 5px;
}
.col-md-4 {
  height: 100%;
  .act-ins {
    position: absolute;
    bottom: 58px;
    h2 {
      margin-bottom: 10px;
    }
  }
  .act-tnc {
    position: absolute;
    bottom: 60px;
    h2 {
      margin-bottom: 10px;
    }
  }
  .act-rsv {
    position: absolute;
    bottom: 88px;
    h2 {
      margin-bottom: 10px;
    }
  }
}

#insights-section {
  .col-lg-4 {
    img {
      &.act-ins-img {
        margin-left: -10px;
      }
      &.act-tnc-img {
        margin-left: 30px;
      }
      &.act-rsv-img {
        position: absolute;
        margin-left: -30px;
        bottom: 350px;
      }
    }
  }
}

#campaigns-section {
  .col-lg-4 {
    img {
      width: 100%;
    }
  }
}


.float-right {
  float: right;
}
.no-margin {
  margin: 0;
}
.gray-text {
  color: #7e8183;
}

.blue {
  color: $comrse-blue;
}
.green {
  color: $comrse-green;
}
.red {
  color: #e97063;
}
.yellow {
  color: #dfc074;
}

div.learn-more-height{
  height: 580px;
}

.btn-lg {
  font-size: 1em;
}
.btn-primary-blue, .btn-primary-red, .btn-primary-yellow {
  width: 40%;
  height: 3em;
  line-height: 2em;
  border-radius: 4px;
  background-color: transparent;
  position: absolute;
  bottom: 0px;
  left: 25%;
}

.btn-primary-blue {
  border: 1px solid $comrse-blue;
  color: $comrse-blue;
  &:hover {
    background-color: $comrse-blue;
    color: white;
  }
}

.btn-primary-red {
  border: 1px solid #e97063;
  color: #e97063;
  &:hover {
    background-color: #e97063;
    color: white;
  }
}

.btn-primary-yellow {
  border: 1px solid #dfc074;
  color: #dfc074;
  &:hover {
    background-color: #dfc074;
    color: white;
  }
}

ul {
  &.stayInTouch {
    padding: 0;
  }
  input {
    width: 20%;
  }
}

a.footer-brand img {
  width: 100%;
}

.footer-topper {
  padding-bottom: $padding-top-lg;
  background-color: #48adce;
  width: 100%;
  color: white;
  .col-md-8 {
    margin: 0 20%;
  }
  p {
    text-align: center;
  }
  h1,h2,h3,h4,h5 {
    text-align: center;
  }
  .col-md-6 {
    margin: 0 31%;
  }
}

.footer-bottom {
  background-color: #404040;
  border-top: 10px solid #fff;
  width:100%;
  padding-bottom: $padding-top-md;
  p {
    color: #e2e2e2;
  }
}

footer {
  padding: 50px 0px 0px 0px;
  color: white;
  border-top: 10px solid #fff;
  p {
    font-size: 16px;
    margin: 0;
  }
  h1,h2,h3,h4,h5{
    margin: 0 0 15px;
  }
  li {
    list-style: none;
    &.social-nav a {
      display: inline-block;
    }
  }
}


.inline-form {
  display: inline;
  button {
    border-radius: 4px;
    width: 15%;
  }
  input {
    border-radius: 4px;
    height: 25px;
    color: #767676;
  }
}

.form-control {
  &:focus {
    border-color: $comrse-green;
    box-shadow: inset 0 1px 1px rgba(255,255,255, 0.7), 0 0 13px rgba(255,255,255, 0.7);
  }
}

.inline-form input{
  width: 80%;
  padding: 0px 10px;
}

.form-control-inline {
  border: 1px solid $comrse-green;
  outline: none;
}

.pi-grouped-input {
  display: inline-block;
}


.nav.navbar-nav {
  div {
    padding-top: 7.5px;
  }
  .btn-default {
    width: 150px
  }
  span {
    font-size: 10px;
    color: white;
    a {
      color: $comrse-green;
    }
  }
  li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .btn-default {
    width: auto;
  }
}

.bordered-form {
  border: 2px solid #767676;
  border-radius: 4px;
  width: auto;
  padding: 30px;
  display: inline-block;
  margin: 0 30px;
  &.background-gray {
    background-color: #c4ccd1;
    border: none;
    width:100%;
    margin: 25px 0;
  }
  input {
    background-color: white;
    color: #767676;
    height: 2.85em;
  }
  .no-space-left {
    padding-left:0;
  }
}

.navbar-brand {
  padding: 4px $padding-top-sm;
  img {
    height: 53px;
  }
}

.jumbotron {
  background: transparent;
  margin-bottom: 0px;
}

.jumbotron-sm {
  padding: 10px;
  margin: 0 auto;
}

.intro-body p {
  font-size: 15px;
}

.padding-top-lg {
  padding-top: $padding-top-lg;
}
.padding-top-md {
  padding-top: $padding-top-md;
}
.padding-top-sm {
  padding-top: $padding-top-sm;
}
.padding-top-xl {
  padding-top: $padding-top-xl;
}
// ========================== Chris is a boss ========================
#pricing-package h2{
  font-size: 20px;
  padding-top: $padding-top-xs;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid $comrse-light-gray; 

}
#pricing-package .col-md-5ths{
  height: 500px;
}
#pricing-package p{
  font-family: "proxima_nova_light";
  font-size: 14px;
  margin-bottom: $margin-bottom-sm;
}
.border-right{
  border-right: 1px solid $comrse-light-gray;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
}
.no-border-right{
  .border-right{
  border-right: 0px;
  }
}
.btn-primary-round{
  border-radius: 100px;
  background: $comrse-blue;
  margin-bottom: $margin-bottom-sm;
  color: white;
  text-transform: capitalize !important;
}
.light-text{
  font-family: "proxima_nova_light"
}
.sbold-text{
  font-family: "proxima_nova_semibold"
}
.price-title{
  height: 65px;
  margin-bottom: -5px;
}
//========================================================================
body {
  width: 100%;
  height: 100%;
  font-family: "proxima_nova_light", sans-serif;
  color: #929598;
  background-color: #fff;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
  font-family: "proxima_nova_semibold",sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

@media(min-width:767px) {
  p {
    margin: 0 0 35px;
    font-size: 17px;
    line-height: 1.4;
  }
}

a {
  color: #e2e2e2;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  color: $comrse-green;
}

.light {
  font-weight: 400;
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #000;
}

.navbar-toggle {
  color: white;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
  outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}

.navbar-custom a {
  color: #fff;
}

.navbar-custom .nav li.active {
  outline: nonte;
  background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
  outline: 0;
  background-color: rgba(255,255,255,.3);
}

@media(min-width:767px) {
  .navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 10px 0;
    background-color: #fff;
    span {
      color: #767676 !important;
    }
  }

  .top-nav-collapse a {
    color: #767676;
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255,255,255,.3);
  }
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(../images/big-background.png) no-repeat top center scroll;
  background-color: #202020;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.intro .intro-body .brand-heading {
  font-size: 40px;
}

.intro .intro-body .intro-text {
  font-size: 18px;
}



@media(min-width:767px) {
  .intro {
    height: 100%;
    padding: 50px;

  }

  .intro .intro-body .brand-heading {
    font-size: 100px;
  }

  .intro .intro-body .intro-text {
    font-size: 25px;
  }
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 35px;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color: #fff;
  background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
    0% {
      -moz-transform: scale(1);
      transform: scale(1);
    }

    50% {
      -moz-transform: scale(1.2);
      transform: scale(1.2);
    }

    100% {
      -moz-transform: scale(1);
      transform: scale(1);
    }
}


.btn {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-default {
  border: 1px solid $comrse-green;
  color: #fff;
  background-color: transparent;
}

.btn-default-solid {
  border: 1px solid $comrse-green;
  color: #fff;
  background-color: $comrse-green;
  &:hover {
    color: white;
    background-color: #22B9A3;
  }
}

.btn-default-white {
  border: 1px solid #fff !important;
  color: #fff;
  background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
  border: 1px solid $comrse-green;
  outline: 0;
  color: #fff;
  background-color: $comrse-green;
}

.btn-default-white,
.btn-defautl-white:focus {
  border: 1px solid $comrse-green;
  outline: 0;
  color: #fff;
  background-color: transparent;
  outline: 0;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media(max-width:991px) {
  .form-control {
    margin: 0.2em 0;
  }
}

@media(max-width: 767px){
  .container > .navbar-header, .container > .navbar-collapse {
  padding: 10px;
  }
}

@media(max-width:500px) {
  img.responsive-img {
    width: 50%;
    margin: 10% 20px
  }

  .content-section {
    padding-top: 100px;
  }

  .padding-top-xl {
    padding-top: 50px;
  }

  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }

  .col-xs-12 {
    margin: 2.5px 0;
  }

  .no-space-left {
    padding-left: 15px;
  }
}

@media(max-width:400px) {
  img.responsive-img {
    width: 70%;

  }

  div.learn-more-height-small {
    height: 650px;
  }

  .navbar-brand {
    padding: none;
    width: 70%;
    img {
      width: 100%;
    }
  }

  .content-section {
    padding-top: 100px;
  }
}



::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255,255,255,.2);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255,255,255,.2);
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

body {
  webkit-tap-highlight-color: rgba(255,255,255,.2);
}
